<h2>商品一覧</h2>
<%= link_to new_admin_item_path do %>
<i class="fas fa-solid fa-eject"></i>
<% end %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td>
          <%= link_to admin_item_path(f.id) do %>
            <%= f.name %>
          <% end %>
        </td>
        <td><%= f.price %></td>
        <td><%= f.genre.name %></td>
        <td>
          <%= Item.is_actives_i18n[f.is_active] %>
        </td>
      </tr>
    <% end %>
    <%= paginate @items %>
  </tbody>
</table>