<div class="container px-5 px-sm-0">
  <div class="row">
    <h2 class="title">管理者ログイン</h2>
  </div>
  <div style="text-align: center;", class="row">
    <div class="col-10">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field", style="margin: 0 0 50px 230px;">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field", style="margin: 0 0 50px 230px;">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="field", style="margin: 0 0 50px 230px;">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "admin/shared/links" %>
