<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
<%= form_with model: @customer, url: admin_customer_path do |f| %>
<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
    <td></td>
  </tr>

  <tr>
    <td>名前</td>
    <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
    <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
  </tr>

  <tr>
    <td>フリガナ</td>
    <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
    <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
  </tr>

  <tr>
    <td>郵便番号</td>
    <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
    <td></td>
  </tr>

  <tr>
    <td>住所</td>
    <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
    <td></td>
  </tr>

  <tr>
    <td>電話番号</td>
    <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
    <td></td>
  </tr>

  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    <td></td>
  </tr>

  <tr>
    <td>会員ステータス</td>
    <td>
      <%= f.radio_button :is_deleted, "validity" %>
      <%= f.label :is_deleted, "有効" %>
    </td>
    <td>
      <%= f.radio_button :is_deleted, "cancel_membership" %>
      <%= f.label :is_deleted, "退会" %>
    </td>
  </tr>

  <tr>
    <td></td>
    <td><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
    <td></td>
  </tr>
</table>
<% end %>