<h2>会員一覧</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td>
          <%= link_to admin_customer_path(f.id) do %>
            <%= f.last_name %><%= f.first_name %>
          <% end %>
        </td>
        <td><%= f.email %></td>
        <td>
          <%= f.is_deleted_i18n %>
        </td>
      </tr>
    <% end %>
    <%= paginate @customers %>
  </tbody>
</table>