<h2>注文情報入力</h2>
<h3>支払方法</h3>
<%= form_with model: @order, url: orders_confirmation_path do |f| %>
<table>
  <tr>
    <td><%= f.radio_button :payment_method, "credit_card" %></td>
    <td>クレジットカード</td>
  </tr>
  <tr>
    <td><%= f.radio_button :payment_method, "transfer" %></td>
    <td>銀行振込</td>
  </tr>
</table>
<h3>お届け先</h3>
<table>
  <tr>
    <td><%= f.radio_button :address_option, "0" %></td>
    <td>
      ご自身の住所<br>
      <%= current_customer.address %><br>
      <%= current_customer.last_name %><%= current_customer.first_name %>

    </td>
  </tr>
  <tr>
    <td><%= f.radio_button :address_option, "1" %></td>
    <td>
      登録済住所から選択<br>
      <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
    </td>
  </tr>
  <tr>
    <td><%= f.radio_button :address_option, "2" %></td>
    <td>
      新しいお届け先
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td>宛名</td>
    <td><%= f.text_field :name %></td>
  </tr>
</table>


<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
<% end %>