<h2>ログイン</h2>

<h3>会員の方はこちらからログイン</h3>

<%= form_with model: @customer, url: customer_session_path do |f| %>
<table>
  <tr>
    <td align="center">メールアドレス</td>
    <td></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr>
    <td align="center">パスワード</td>
    <td></td>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
  </tr>
</table>
<% end %>
<h3>会員登録がお済みでない方</h3>
<%= render "public/shared/links" %>から新規登録を行ってください
