<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <%= image_tag @item.get_image(400, 400) %>
    </div>

    <div class="col-lg-7">
      <%= form_with model: @cart_item, local: true do |f| %>
      <table>
        <tr>
          <td>
            <h2><strong><%= @item.name %></strong></h2><br>
            <%= @item.introduction %><br>
            ￥<%= (@item.price*1.1).floor %>(税込)<br>
            <%= f.select :amount, *[1..10] %><br>
          </td>
        </tr>
      </table>
      <%= f.hidden_field :item_id, value:@item.id %>
      <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>